/* distribucion de la rejilla */
.grid-container {
  display: grid;
  grid-template-columns: 80px auto;
  /* incluirlo siempre que quiera introducir el sidebar */
}

body {
  margin: 0;
  padding: 0;
  font-family: "open sans";
}
/* ------------------------------------------------------------------ */
/* bloque de titulo y login */
.title-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 5px;
  grid-column: 1 / span 2;
  position: relative;
}
.login {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.login > a {
  text-decoration: none;
  color: black;
  font-family: arial, sans-serif;
  font-weight: bold;
}

.logoUser {
  width: 40px;
  height: auto;
}
/* --------------------------------------------------------- */
/* bloque de navegacion */
.navegacion {
  background-color: #ed564d;
  width: 100.6%;
  height: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0;
}

.nav-links > a {
  text-decoration: none;
  color: white;
  margin-left: 21px;
  margin-right: 40px;
  margin-top: 8px;
  font-family: arial, sans-serif;
  font-weight: bold;
}

.navegacion {
  grid-column: 1 / span 2;
  position: relative;
}
/* --------------------------------------------------------------------- */
/* bloque de barra lateral */
.sidebar-actions {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  background-color: #ed564d;
  min-width: 80px;
  max-width: 80px;
  height: 700px;
  width: 90%; /* Esto hará que la barra lateral tenga la altura de la ventana de visualización */
  position: relative; /* Esto hará que la barra lateral se mantenga en su lugar incluso cuando se desplace la página */
}

.sidebar-actions > a > img {
  width: 40%;
  height: auto;
  margin-top: 40px;
  margin-left: 30%;
}
/* ---------------------------------------------------------------------------- */
/* bloque de contenido principal */
.hero {
  grid-column: 2;
  justify-content: left;
  margin-left: 20px;
  display: flexbox;
}
/* ----------------------------------------------------------------------------- */
/* bloque de login */
.fondoLogin {
  background-image: url("../../src/fondo-login.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.grid-login {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
}

.login-center {
  background: rgba(255, 255, 255, 0.8);
  width: 50%;
  margin: auto;
}
.logoLog {
  width: 70%;
  height: auto;
  margin-bottom: 35px;
}

.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

form input {
  margin-bottom: 35px;
}

form label .fa-solid {
  font-size: 20px;
  color: #ed564d;
}

form label input {
  outline: none;
  border: none;
  color: black;
  border-bottom: solid 1px #ed564d;
  background-color: rgba(255, 255, 255, 0);
  font-size: 15px;
}

form .link {
  color: black;
  font-size: 12px;
  margin-top: 15px;
  text-decoration: none;
}

form button {
  background-color: #ed564d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}
/* -------------------------------------------------------------------------- */
/* ------PAGINA PRINCIPAL----- */
.contenedor {
  padding: 60px 0;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
.titulo {
  color: #ed564d;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}
/* Imagen presentacion */
header {
  width: 100%;
  height: 396px;
  background: #e1eec3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f05053b7, #e1eec3b7),
    url(../../src/portadaIndex.jpg); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f05053b7, #e1eec3b7),
    url(../../src/portadaIndex.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.presentacion {
  display: flex;
  height: 230px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.presentacion h1 {
  font-size: 50px;
  color: #fff;
}
.presentacion h2 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}

/* Sobre nosotros */
.sobre-nosotros {
  display: flex;
  justify-content: space-evenly;
}

.img-sobrenosotros {
  width: 48%;
}

.parrafoTexto {
  width: 48%;
}

.parrafoTexto h3 {
  margin-bottom: 15px;
}

.parrafoTexto p {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}

/* nuesetros clientes */
.cards {
  display: flex;
  justify-content: space-evenly;
}
.cards .tarjeta {
  background: #ed564d;
  display: flex;
  width: 46%;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .tarjeta img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}
.cards .tarjeta > .texto-tarjeta {
  width: 60%;
  color: #fff;
  font-size: 12px;
}
.cards .tarjeta > .texto-tarjeta p {
  font-weight: 300;
  padding-top: 5px;
}

/* Niveles */

.niveles {
  background: #f2f2f2;
  padding-bottom: 30px;
}
.contenedorNivel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.level {
  width: 48%;
  text-align: center;
}
.level img {
  width: 90%;
}
.level h3 {
  margin: 10px 0;
}
.level p {
  font-weight: 300;
  text-align: center;
}

/* ------------------------------------------------------------ */
/* Footer */
footer {
  background: #414141;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenido-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.texto-footer {
  text-align: center;
}

.texto-footer h4 {
  color: #fff;
  border-bottom: 3px solid #ed564d;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.texto-footer p {
  color: #ccc;
}

.titulocopyrigth {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #9e9797;
}
